/* ==================== data.css ===================== */
.input_text {height: 25px; padding-left: 5px; border:1px solid #d3d3d3;}

ul.labelCon {overflow: hidden;width:1050px;margin:10px 3px ;color: #666;}
ul.labelCon li {padding:7px 0;overflow: hidden;line-height: 25px;}
ul.labelCon li label {float: left;width: 70px; text-align: right;}
ul.labelCon li span {float: left;margin-left: 10px; height: 25px;}
#termId {display: none;}



















