/*详情列表*/

.infor_txt {width: 850px;margin:15px 0 0 70px; overflow: hidden;}
.infor_txt dt {float: left;width:70px;}
.infor_txt dd {float: right;width: 775px;}
.infor_txt dd textarea {width:700px;height:67px;background: #f6f6f6;border: 1px solid #e8e7e7; padding:10px 30px;color: #999;}

.ui_btn_look {overflow: hidden;width: 770px;margin:30px auto 0;}

.w_500 {width: 500px;}
.w_215 {width: 215px;}

.contentLive {overflow: hidden;width: 1050px;margin:0 auto;}
.contentLive dl {overflow: hidden;margin:10px 0;color: #333;font-size: 14px; _width:100%; line-height: 27px;}
.contentLive dl dt {float:left;width: 80px;  text-align: right;padding-right: 15px;color: #666;}
.contentLive dl dd {float: left;}
.contentLive dl dd .input_text {height: 25px; border:1px solid #d3d3d3;}
.contentLive dl dd ul {border: 1px solid #e9e9e9;font-size: 12px;}
.contentLive dl dd ul.content {width:775px;height: 175px;overflow-x: hidden;overflow-y: scroll;border-top: 0;}
.contentLive dl dd ul li.title {width:755px;overflow: hidden; height: 40px;line-height: 40px;color:#666; background: #F7F7F7;padding-left: 20px;border-bottom: 0;cursor:auto ;}
.contentLive dl dd ul li {height:35px;line-height:35px;border-bottom: 1px solid #e9e9e9;cursor: pointer;}
.contentLive dl dd ul li span {float: left; text-align: center;}
.contentLive dl dd ul li span.time {width: 200px;}
.contentLive dl dd ul li span.name {width: 500px;}
.contentLive dl dd ul li.current {background: #e2f3e5;}
/* 默认不可选状态 */
.contentLive dl dd ul li {color:#CCC;cursor: text;background-color:#FCFCFC}
/*已选择*/
.contentLive dl dd ul li.selected {color:#666;background-color: #EAFAED;}
/*可选择*/
.contentLive dl dd ul li.optional {color:#666;cursor: pointer;background-color: #FFF;}

/* 时间选择下拉框 */
.live_time_select {width: 80px}
























