/* ==================== layer.css ===================== */
.teacherLayerAll {display: none;position: absolute;width: 345px;overflow: hidden;border: 1px solid #d7d7d7;opacity: 10;background-color: #FFF;border-radius: 5px;
box-shadow: -4px 0 4px rgba(153, 153, 153, 0.2),0 -4px 4px rgba(153, 153, 153, 0.2),0 4px 4px rgba(153, 153, 153, 0.2),4px 0 4px rgba(153, 153, 153, 0.2);}
.teacherLayerAll ul {overflow: hidden;}
.teacherLayerAll ul li {overflow: hidden;line-height: 30px;border-bottom: 1px solid #dadada;}
.teacherLayerAll ul li span {float: left;display: inline;padding-left: 20px;}
.teacherLayerAll ul li span.laber {width: 70px;border-right: 1px solid #dadada;color: #666; }
.teacherLayerAll ul li.title {height: 34px;line-height: 34px;background: #525252;color: #fff;}
.teacherLayerAll ul li.title span.laber {border:0;font-weight: bold;color: #fff; } 
.teacherLayerAll ul li span.right {float: right;margin-right:10px;margin-top: 4px;}

.layerItemNew {width:900px;margin:0 auto;overflow:hidden;}
.layerItemNew .grid_item_content {width:900px;}

/*我的分享---分享文件弹出框 2013-01-23  by:alexliu*/
.share_layer {width:620px;overflow:hidden;border:1px solid #ccc;height: 400px;box-shadow: 3px 3px 3px rgba(231, 231, 231, 0.4), -3px -3px 3px rgba(231, 231, 231, 0.4);}
.share_layer h1 {background:#d6ead8;height:33px;line-height:33px;border:1px solid #fff;border-bottom:1px solid #f7fbf8;padding-left: 20px;font-size: 14px;font-weight: bold;}
.share_layer h1 span {float: left;}
.share_layer h1 span.close {float: right;width:35px;height:33px;text-indent: -99999em; background: url(../img/close.jpg) 10px 10px no-repeat;cursor: pointer;}
.contenttxt {overflow: hidden;width:550px;margin:10px auto;}
.contenttxt p {overflow: hidden;}
.contenttxt .textinfor {line-height: 30px;}
.contenttxt .cla_input {width:500px;margin:20px 30px;}
.contenttxt .cla_input .input_text {width:300px;height:23px;}
.contenttxt .area_input {margin-left:30px;}
.contenttxt .area_input textarea{width: 470px;height: 100px;margin-top: 10px;border: 1px solid #d3d3d3;}
.contenttxt .sharebutton {width: 200px;margin:40px auto;}
.contenttxt .sharebutton a {float: left;margin-right:20px;}
.contenttxt .sharebutton a.btnshare {width: 70px;height: 20px;line-height: 20px;text-align: center;background: url(../img/create_btn.png) no-repeat;color: #fff;}
/*我的分享---分享文件弹出框 2013-01-23 by:alexliu End*/
















