/* ==================== list.css ===================== */

/* 
 * ifrom 框架
 * 剥离样式
 *
 */
/* icon */
.page_prev, .page_next {background: url(http://img03.xesimg.com/course_bgpic.png) no-repeat;}

.action_item {height: 36px;margin-top:20px;position:relative;}
.action_item .action {float: left;display: inline;}
.action_item .action li {float: left;display: inline;height: 36px;line-height: 36px;font-size: 14px; cursor: pointer;}
.action_item .action li button {height:34px;cursor: pointer;padding:0 15px;border:0px solid transparent;background-color: transparent;}
.action_item .action li.grade {width:84px;border:0; text-align:center; background-position: 0 -578px;}
.action_item .action li.grade button {width:100%;background-position: 65px -117px;}
.action_item .action li.course {width:112px; text-align:center;background-position: 0 -506px;}
.action_item .action li.course button {width:100%;background-position: 93px -117px;}

.action_item .action li ul.ui-select-list li {height: 28px;line-height: 28px;}

.ui_pages {float: right;overflow: hidden;margin-right:10px;}
.ui_pages li {float: left;width:28px;height: 28px;line-height: 28px;margin-left: 10px;}
/*.ui_pages li.up_page { background-position: -282px -201px;}
.ui_pages li.down_page {background-position: -282px -255px;}
.ui_pages li span,
.ui_pages li a {display:block;text-indent: -99999px;}*/
.ui_pages li.page_list {width:auto;margin-right:0px;}

.ui_pages li.page_list li {margin:0 10px 0 0;background: none}
.ui_pages li.page_list button {border: 0;padding:0 15px;margin-right:0px;background-color: transparent;background-position: right -124px;}

/**
 * update: 2012-11-20
 * author: Marco(wujie)
 */
.ui_pages li.page_btn a, .ui_pages li.page_btn span {display:block;text-indent: -99999px;}
.ui_pages li.page_btn a.page_prev {background-position: -282px -309px;}
.ui_pages li.page_btn a.page_next {background-position: -282px -358px;}
.ui_pages li.page_btn span.page_prev {background-position: -282px -201px;}
.ui_pages li.page_btn span.page_next {background-position: -282px -255px;}



.createtime {overflow: hidden;height: 50px;line-height: 50px;color: #666;font-weight: bold;font-size: 14px;padding-left: 3px;}
.createtime em{color: #cc0000;font-weight: bold;}

.createbtn {display: block;overflow: hidden;float:left;color:#FFF;width:70px;height:20px;line-height:20px;background: url(http://img03.xesimg.com/create_btn.png) no-repeat; text-align: center;color: #fff;}

.btn {font-weight: 500}
.btn:visited, .btn:active {color:#FFF;font-weight: 500}

.btn.btn_submit {font-weight: 700}
.left_box {float: left;}

.layer_900 {}
.layer_900 .ui_infor_title,
.layer_900 .grid_item_content{width: 900px}
.layer_900 .btn {float: right;cursor: pointer;}
.layer_900 button.btn {border:0 none;}
.layer_900 #listSerch {padding-left:20px}
.layer_900 .action_item {margin-top: 10px}