/* ==================== main.css ===================== */
a, a:visited, a:active{color:#0066cc;text-decoration:none;}
a:hover{color: #bc0000; text-decoration: underline;}
h1,h2,h3,h4,h5,h6{color:#333;}

a.red {color: #cc0000;}
a.green {color: #669933;}
a.blue{color: #006699;}
a.grey {color: #666;}
/* 中间区域公用样式 */

/* 中间标题部分 */
.ui_infor_title {width: 1050px;margin:20px 2px; ; height: 30px; line-height: 30px; border-bottom: 1px solid #1d9e2b; overflow: hidden;font-size: 14px;color: #333;font-weight: bold;}

