@charset "UTF-8";

/* 
 * xesui样式库索引文件
 * 主要负责对需要合并的样式进行索引
 * 上线前需要利用合并工具进行合并、压缩
 *
 **/

@import url("base.css");
@import url("platform.css");
@import url("ui-select.css");
@import url("list.css");
@import url("table.css");
@import url("form.css");
@import url("calendar.css");
/*@import url("share.css");*/

/* -=-=-=-=-=-=-=-=-=-=-= message_list.html =-=-=-=-=-=-=-=-=-=-=-=-=- */
.message_info {}
.message_info li {line-height: 22px;margin: 5px 0; overflow: hidden;}
.message_info li em {padding-left: 20px}
.message_info li .message_img {float:left;width: 137px; height: 77px; overflow: hidden;margin:10px 10px 10px 0;background-color: #ccc;}
.message_info li .message_img img {width: 137px}
.message_info li .message_img_link {float: left;display: block;margin: 30px 0;}
.message_content {border: 1px solid #eee;padding: 10px; background-color:#fff }