@charset "UTF-8";

/* 
 * xesui样式库索引文件
 * 主要负责对需要合并的样式进行索引
 * 上线前需要利用合并工具进行合并、压缩
 *
 **/

@import url("base.css");
@import url("main.css");

@import url("table.css");
@import url("form.css");


/* -=-=-=-=-=-=-=-=-=-=-= test_add.html =-=-=-=-=-=-=-=-=-=-=-=-=- */

.paper_text {width:510px;height:60px;line-height: 24px;padding:0 0 0 10px;border:1px solid #ccc;}
ul.labelCon li.infor {height:70px;}
ul.labelCon li.choose {height: auto;overflow: hidden;padding-left:70px;}
.choose_list {margin:3px 0 17px -12px;overflow: hidden;_width:100%;}
.choose_list span,table {float: left;display: inline;}
.choose_list table {width:522px;border:1px solid #ccc;}
.choose_list table td {line-height:20px;padding:3px 10px;}
.choose_list .input_text {width:30px;} 

.paper_type_box {display: none;width: auto;float: left;}
.questions_type {display: none;}

ul.labelCon li.questions_type_box {}
#questions_type_input {height: auto}
#questions_type_input span {width: 800px;float:none;margin-left: 0;display: block;height: 30px;margin-bottom: 5px}
#questions_type_input input {}
#questions_type_input span a {padding-left: 10px}