@charset "UTF-8";

/* 
 * xesui样式库索引文件
 * 主要负责对需要合并的样式进行索引
 * 上线前需要利用合并工具进行合并、压缩
 *
 **/

@import url("base.css");
@import url("platform.css");
@import url("table.css");
@import url("iframe.css");

/* -=-=-=-=-=-=-=-=-=-= live_info.html =-=-=-=-=-=-=-=-=-=-=- /

/**
 * 直播素材，轮播图
 */

.upload_img_list {width: 900px; height: 230px; overflow: hidden; position: relative;}
.upload_img_view {width: 254px; height: 156px; margin: 10px auto; background-color:#eee; }
.upload_img_view img {width: 254px; height: 156px;}

.upload_img_thumb {width: 900px; height: 55px; overflow: hidden; margin: 0 auto; text-align: center;}
.upload_img_thumb_list {
	min-width: 260px;
	max-width: 780px; height: 55px; overflow: hidden; 
	display: inline-block; 
	margin: 0 auto;
}
.upload_img_thumb_list ol {}
.upload_img_thumb_list li {
	width: 68px; height: 42px; float: left; 
	margin:5px 3px; border:1px solid #FFF; padding: 1px;
	background-color:#fff;
}
.upload_img_thumb_list li.current {
	border-color:#1D9E2B;
}
.upload_img_thumb_list li img {width: 68px; height: 42px;}
.upload_img_thumb a[class^="upload_img_btn_"] {
	/*position: absolute; bottom: 15px;*/
	display: inline-block; 
	width: 28px; height: 28px; margin: 12px 3px;
	text-indent: -999px;
	overflow: hidden;
	background-image: url('http://img03.xesimg.com/course_bgpic.png');
	background-repeat: no-repeat;
}
.upload_img_btn_prev {
	/*left: 40px;*/
	background-position: right -309px;
}
.upload_img_btn_next {
	/*right: 40px;*/
	background-position: right -358px;
}

.upload_img_empty {
	line-height: 200px; text-align: center;
}

td.text .more {padding-right: 20px;}


