
.textZip {line-height:25px;background: url(http://img03.xesimg.com/zip.jpg) no-repeat;padding-left:35px;}

.share_l {float:left;padding:10px;}
.share_l em {color:#cc0000;font-weight: bold;}

.share_updown {line-height: 25px;overflow: hidden;padding-top: 20px;}
.share_updown span {float: left;margin:0 10px;}
.share_item {margin:0;_width:100%;}

 .tableShow {display: none;}
 .contentData1 .speak_table tbody  tr td {padding-left: 31px;}
body {overflow: hidden;}


















