/* ==================== table.css ===================== */
.grid_item_content {overflow: hidden;width:1050px;margin:10px 3px ;border: 1px solid #ececec;}
table.grid_item {width:100%;overflow: hidden;}
table.grid_item th {overflow: hidden;background: #f5f5f5;height: 32px;line-height:32px;font-size: 14px;padding-left:20px;}
table.grid_item td {overflow: hidden;color: #666;border-bottom: 1px dashed #ececec;padding: 10px 0 10px 20px;}
table.grid_item td span.state {float: left;display: inline;width: 17px;height: 17px;margin-right: 10px;}
table.grid_item td span.one { background-position: 0px 0px;}
table.grid_item td span.two {background-position: 0px -32px;}
table.grid_item tr.hover {background: #e0f2e3;}

.contentData {overflow: hidden;width:1050px;margin:10px 3px ;border: 1px solid #ececec;}
.contentData table {width:100%;overflow: hidden; }
.contentData table th {background: #f5f5f5;height:30px;padding: 2px;border-right: 1px solid #ececec;text-align: center;font-size: 12px;}
.contentData table td {color: #666;padding: 5px 0;border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;text-align: center;}
.contentData table tbody td.title {text-align: left;padding-left: 20px}
.contentData table th.title {height: 43px; background: #fff;border-bottom: 1px solid #ececec;}
.contentData table tr.even,.contentData table tr.hover {background: #e0f2e3;}

.contentData table td.blue {width: 200px}

.contentData1 tr th{ height:32px; text-align:left; padding-left:20px;border: 0;}
.contentData1 tr td{ height:34px; text-align:left; padding-left:30px; border-right:none;color:#999999; }
.contentData1 tr td span{ padding-left:0px; color:#333;}
.contentData1 tr th.edit {text-align:right;padding-right:15px;font-size:12px;}
.contentData1 tr td.title {width: 80px;color: #999;}
.contentData1 tr td.text {color: #333;}
.contentData2 {margin-top:30px;}
.contentData2 table td {border: 0;height:20px;}

.w_70 {width: 70px;}
.all_title {float:left;font-size:14px;line-height:45px;padding-left:10px;color:#666;}
.s_gradegrade { margin-left:10px; overflow: hidden;}













