@charset "UTF-8";

/*
 * ui selector
 * 下拉框UI组件
 * update: 2012-10-25
 * author: Wu Jie (Marco)
 *
 */
.ui-select-box {}
.ui-select-button {}
ul.ui-select-list {display: none;position: static;z-index: 0;width: auto;height: auto;overflow: hidden;overflow-y: auto;border: 1px #CCC solid; border-width: 0 1px 1px 1px;background-color: #FFF}
ul.ui-select-list li {height: 28px;line-height: 28px;width: 100%}
ul.ui-select-list li a {display: block;padding: 0 15px;}
ul.ui-select-list li.ui-select-hover a,ul.ui-select-list li a:hover {color:#FFF;text-decoration: none;background-color: #4582D3}


/* large select: line-height:28px 
	默认行高是23px，这里是提供一种更大行高的方案：28px
 */
ul.ui-select-large {}
ul.ui-select-large li {height: 28px;line-height: 28px}

/* add top border 
	默认状态下select组件是没有top-border的，这里是需要添加top-border所需的样式
 */
ul.ui-select-topborder {border-top-width: 1px}

/* themes green 
	皮肤样式，此组件样式需要添加到皮肤整体样式中
 */
.skin-green {}
.skin-green ul.ui-select-list li.ui-select-hover a,
.skin-green ul.ui-select-list li a:hover {background-color: #057E13}

/* no themes : select default skin
	在有skin的情况下，重置组件风格为默认样式
	皮肤为 .skin .skin-green
*/
.ui-select-default  {}
.skin ul.ui-select-default li.ui-select-hover a,
.skin ul.ui-select-default li a:hover {background-color: #4582D3}


ul.ui-select-show {display: block; position: absolute;z-index: 1001}




/* erro */
.icon_bot {background: url(../img/course_icon.png) no-repeat;}
.ui_search_input_text .icon_bot {
	border:0;
	width: 60px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding:0 10px 0 5px;
	background-position:50px -83px;
}