@charset "UTF-8";

/* 
 * xesui样式库索引文件
 * 主要负责对需要合并的样式进行索引
 * 上线前需要利用合并工具进行合并、压缩
 *
 **/
/* ==================== base.css ===================== */

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	/*font:12px/1.5 tahoma,arial,\5b8b\4f53;*/
	font:500 normal 12px/20px "\5b8b\4f53", Arial, Helvetica, sans-serif;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}
/* ie8+不会继承 */
li{list-style: none\0}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}
/* 设置iframe边框为无 */
.iframe_content {
	overflow: hidden;
	border: 0;
}
/* ==================== iframe.css ===================== */
.ui_infor_title {width: 1050px;margin:20px 2px; ; height: 30px; line-height: 30px; border-bottom: 1px solid #1d9e2b; overflow: hidden;font-size: 14px;color: #333;font-weight: bold;}

/*html, body {height: 100%}*/
.red {color: #cc0000!important;}
/* ==================== list.css ===================== */

/* 
 * ifrom 框架
 * 剥离样式
 *
 */
/* icon */
.page_prev, .page_next {background: url(http://img03.xesimg.com/course_bgpic.png) no-repeat;}

.action_item {height: 36px;width:100%;margin-top:20px;position:relative;}
.action_item .action {float: left;display: inline;}
.action_item .action li {float: left;display: inline;height: 36px;line-height: 36px;/*font-size: 14px; */cursor: pointer;margin-right: 10px}
.action_item .action li button {height:34px;cursor: pointer;padding:0 15px;border:0px solid transparent;background-color: transparent;}
.action_item .action li.grade {width:84px;border:0; text-align:center; background-position: 0 -578px;}
.action_item .action li.grade button {width:100%;background-position: 65px -117px;}
.action_item .action li.course {width:112px; text-align:center;background-position: 0 -506px;}
.action_item .action li.course button {width:100%;background-position: 93px -117px;}
.action_item .action li select,
.action_item .action li .s-btn {font-size: 12px}
.action_item .action li ul.ui-select-list li {height: 28px;line-height: 28px;}
.action_item .action_side {float: right;}
.list_button{clear: both;overflow: hidden;height: 30px;line-height: 30px}
.list_button li{width: auto;margin-right: 10px;float: left;}


.ui_pages {float: right;overflow: hidden;margin-right:0px;}
.ui_pages li {float: left;width:28px;height: 28px;line-height: 28px;margin-left: 10px;}

/*.ui_pages li.up_page { background-position: -282px -201px;}
.ui_pages li.down_page {background-position: -282px -255px;}
.ui_pages li span,
.ui_pages li a {display:block;text-indent: -99999px;}*/
.ui_pages li.page_list {width:auto;margin-right:0px;}

.ui_pages li.page_list li {margin:0 10px 0 0;background: none}
.ui_pages li.page_list button {border: 0;padding:0 15px;margin-right:0px;background-color: transparent;background-position: right -124px;}

.ui_pages li.page_list_tips {margin:0 10px 0 0;width: auto}

/**
 * update: 2012-11-20
 * author: Marco(wujie)
 */
.ui_pages li.page_btn a, .ui_pages li.page_btn span {display:block;text-indent: -99999px;}
.ui_pages li.page_btn a.page_prev {background-position: -282px -309px;}
.ui_pages li.page_btn a.page_next {background-position: -282px -358px;}
.ui_pages li.page_btn span.page_prev {background-position: -282px -201px;}
.ui_pages li.page_btn span.page_next {background-position: -282px -255px;}



.createtime {overflow: hidden;height: 50px;line-height: 50px;color: #666;font-weight: bold;font-size: 14px;padding-left: 3px;}
.createtime em{color: #cc0000;font-weight: bold;}

.createbtn {display: block;overflow: hidden;float:left;color:#FFF;width:70px;height:20px;line-height:20px;background: url(http://img03.xesimg.com/create_btn.png) no-repeat; text-align: center;color: #fff;}

.btn {font-weight: 500}
.btn:visited, .btn:active {color:#FFF;font-weight: 500}

.btn.btn_submit {font-weight: 700}
.left_box {float: left;}

.layer_900 {}
.layer_900 .ui_infor_title,
.layer_900 .grid_item_content{width: 900px}
.layer_900 .btn {float: right;cursor: pointer;}
.layer_900 button.btn {border:0 none;}
.layer_900 #listSerch {padding-left:20px}
.layer_900 .action_item {margin-top: 10px}
/* ==================== layer.css ===================== */
.teacherLayerAll {display: none;position: absolute;width: 345px;overflow: hidden;border: 1px solid #d7d7d7;opacity: 10;background-color: #FFF;border-radius: 5px;
box-shadow: -4px 0 4px rgba(153, 153, 153, 0.2),0 -4px 4px rgba(153, 153, 153, 0.2),0 4px 4px rgba(153, 153, 153, 0.2),4px 0 4px rgba(153, 153, 153, 0.2);}
.teacherLayerAll ul {overflow: hidden;}
.teacherLayerAll ul li {overflow: hidden;line-height: 30px;border-bottom: 1px solid #dadada;}
.teacherLayerAll ul li span {float: left;display: inline;padding-left: 20px;}
.teacherLayerAll ul li span.laber {width: 70px;border-right: 1px solid #dadada;color: #666; }
.teacherLayerAll ul li.title {height: 34px;line-height: 34px;background: #525252;color: #fff;}
.teacherLayerAll ul li.title span.laber {border:0;font-weight: bold;color: #fff; } 
.teacherLayerAll ul li span.right {float: right;margin-right:10px;margin-top: 4px;}

.layerItemNew {width:900px;margin:0 auto;overflow:hidden;}
.layerItemNew .grid_item_content {width:900px;}

/* 2013-01-23  by:alexliu*/
.share_layer {width:540px;overflow:hidden;border:1px solid #ccc;height: auto;box-shadow: 3px 3px 3px rgba(231, 231, 231, 0.4), -3px -3px 3px rgba(231, 231, 231, 0.4);}
.share_layer h1 {background:#d6ead8;height:33px;line-height:33px;border:1px solid #fff;border-bottom:1px solid #f7fbf8;padding-left: 20px;font-size: 14px;font-weight: bold;}
.share_layer h1 span {float: left;}
.share_layer h1 span.close {float: right;width:35px;height:33px;text-indent: -99999em; background: url(http://img03.xesimg.com/close.jpg) 10px 10px no-repeat;cursor: pointer;}
.contenttxt {overflow: hidden;width:auto;margin:10px auto;}
.contenttxt p {overflow: hidden;}
.contenttxt .textinfor {line-height: 30px;padding-left: 30px}
.contenttxt .cla_input {width:500px;margin:20px 30px;}
.contenttxt .cla_input .input_text {width:410px;height:23px;}
.contenttxt .file_input {width:auto;margin:20px 30px;}


.contenttxt .area_input {margin-left:30px;overflow: hidden;float: none;}
.contenttxt .area_input label{float: left;}
.contenttxt .area_input textarea{width: 410px;height: 100px;margin-top: 10px;margin-left:20px;float: left;border: 1px solid #d3d3d3;}
.contenttxt .sharebutton {width: 200px;margin:20px auto;text-align: center;}
.contenttxt .sharebutton a,
.contenttxt .sharebutton button {margin-right:20px;display: inline-block;border: 0;cursor: pointer;}
.contenttxt .sharebutton a.btnshare,
.contenttxt .sharebutton button.btnshare {width: 70px;height: 20px;line-height: 20px;text-align: center;background: url(http://img03.xesimg.com/create_btn.png) no-repeat;color: #fff;}
/* 2013-01-23 by:alexliu End*/

.w320 {width: 320px}

#win_fileUpload .textinfor {padding-left: 66px}
#win_fileUpload .file_input {margin-top:10px;}


















/* -=-=-=-=-=-=-=-=-=-=-= article.html =-=-=-=-=-=-=-=-=-=-=-=-=- */
.ui_tipsAll {width:1030px;padding:10px;overflow: hidden;border: 1px solid #e7e6e6;background: #f6f6f6;color: #999;margin-top: 10px;font-size: 14px;}		

.message_info {}
.message_info li {line-height: 22px;margin: 5px 0; overflow: hidden;}
.message_info li em {padding-left: 20px}
.message_info li .message_img {float:left; width: 137px; height: 77px; overflow: hidden;margin:10px 10px 10px 0;background-color: #ccc;}
.message_info li .message_img img {width: 137px}
.message_info li .message_img_link {float: left;display: block;margin: 30px 0;}
.message_content {border: 1px solid #eee;padding: 10px; background-color:#fff }

/* article-content style Update by Bluebird 20130412*/
.article_area{ width: 880px; margin:30px 30px 0 30px; padding: 20px 55px; }
.article_area ul li{ float: left; display: inline; font-size: 12px; padding: 10px 0; border-bottom:1px dotted #ccc; }
.article_area ul li div{ width: 435px; float: left;}
.article_area ul li h5{ font-weight:bold; color: #bc0000; line-height: 35px;}
.article_area ul li a{ color: #333; display: inline-block; text-align: left; padding-right: 40px;}
.article_area ul li a:hover{ color: #333;}

/* article-content style Update by Bluebird 20130412*/
.nobg{ background: none; border:0 none; padding: 0;}
.article_area h6{ font-size: 14px; margin: 10px 0;}
.article_area p{ font-size:12px; line-height: 30px;}
.article_area p strong{ color: #333;}
.article_area img{ display: block; text-align: center; margin: 75px auto;}
.ui_infor_tagline{ width: 99%; text-align: center; height: 30px; font-weight: bold; color: #333; line-height: 30px; background: #f0faef;}


/* article-newteacher style Update by Bluebird 20130415*/
.newteacher{ width: 96%; color: #666666;}
.article_area h6{ font-size: 12px;  font-weight: bold;}
.newteacher h5{ text-align: center; line-height: 30px; font-weight: bold;}
.newtips{padding-left: 10px;}
.newtips1{padding-left: 15px;}
.newtips2{padding-left: 210px;}
.newtips3{padding-left: 50px;}
.newtips span,.newtips1{ padding-left: 30px;}
.newteacher .newnotice{ overflow: hidden;}
.newteacher .newnotice li,.tehlist ul li{ padding-left: 10px; border-bottom:0 none; background: url(http://img03.xesimg.com/iconred.png) left 18px no-repeat;}
.newteacher strong{ font-size: 12px; line-height: 30px; display: block; margin: 20px 0 0 107px;}
.newteacher table { margin: 0 auto; font-size: 12px;}
.newteacher table thead th{ font-size: }
.newteacher table tr td,.newteacher table tr th{ text-align:center; padding: 10px 5px; border:1px solid #ccc;}
.tehlist{ margin: 20px 0 25px 100px;}
.tehlist ul li{ list-style: none; float: none; display: block; border-bottom:0 none; padding: 5px 0 5px 15px;}
.tehlist ul li a{ color: #0000cc;}
.newteacher .rightpostion{ float: right;  margin: 0 15px;}
.newteacher .rightpostion1{ float: left;  display: block; margin: 0 15px;}
.newteacher .rightpostion2{ display: block; margin: 0;}
.newteacher .rightpostion3{ display: block; margin: 20px auto;}
.newteacher .rightpostion4{ display: block; margin: 10px 0 0 40px;}
.newteacher ol{ font-size: 12px; line-height: 24px;}
.article_area .newnotice1{ margin-left: 25px;}
.article_area .newnotice2{ margin-left: 50px;}
.article_area .newnotice1 li{ float: none; display: block;}
.nomargin table{ margin: 0;}




















