@charset "UTF-8";

/* 
 * xesui样式库索引文件
 * 主要负责对需要合并的样式进行索引
 * 上线前需要利用合并工具进行合并、压缩
 *
 **/

/* ==================== base.css ===================== */

/* 
	@名称: base
	@功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
	color:#000;background:#fff;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
	/*font:12px/1.5 tahoma,arial,\5b8b\4f53;*/
	font:500 normal 12px/20px "\5b8b\4f53", Arial, Helvetica, sans-serif;
}
input,select,textarea{
	font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
	border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
	text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
	border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
	border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
	text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
	list-style:none;
}
/* ie8+不会继承 */
li{list-style: none\0}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
	text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500;
}

q:before,q:after {
	content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
	text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.fn-clear {
	zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
	display:inline;
}
.fn-left {
	float:left;
}
.fn-right {
	float:right;
}
/* 设置iframe边框为无 */
.iframe_content {
	overflow: hidden;
	border: 0;
}
/* ==================== main.css ===================== */
a, a:visited, a:active{color:#0066cc;text-decoration:none;}
a:hover{color: #bc0000; text-decoration: underline;}
h1,h2,h3,h4,h5,h6{color:#333;}

a.red {color: #cc0000;}
a.green {color: #669933;}
a.blue{color: #006699;}
a.grey {color: #666;}
/* 中间区域公用样式 */

/* 中间标题部分 */
.ui_infor_title {width: 1050px;margin:20px 2px; ; height: 30px; line-height: 30px; border-bottom: 1px solid #1d9e2b; overflow: hidden;font-size: 14px;color: #333;font-weight: bold;}



/* ==================== table.css ===================== */
.grid_item_content {overflow: hidden;width:1050px;margin:10px 0px ;border: 1px solid #ececec;}


.grid_item {width:100%;overflow: hidden;}
.grid_item th {overflow: hidden;background: #f5f5f5;height: 32px;line-height:32px;font-size: 14px;padding-left:20px;}
.grid_item td {overflow: hidden;color: #666;border-bottom: 1px dashed #ececec;padding: 10px 0 10px 20px;}
.grid_item td span.state {float: left;display: inline;width: 17px;height: 17px;margin-right: 10px;}
.grid_item td span.one { background-position: 0px 0px;}
.grid_item td span.two {background-position: 0px -32px;}
.grid_item tr.hover {background: #e0f2e3;}

.contentData {overflow: hidden;width:1050px;margin:10px 3px ;border: 1px solid #ececec;}
.contentData table {width:100%;overflow: hidden; }
.contentData table th {background: #f5f5f5;height:30px;padding: 2px;border-right: 1px solid #ececec;text-align: center;font-size: 12px;}
.contentData table td {color: #666;padding: 5px 0;border-right: 1px solid #ececec;border-bottom: 1px solid #ececec;text-align: center;}
.contentData table tbody td.title {text-align: left;padding-left: 20px}
.contentData table th.title {height: 43px; background: #fff;border-bottom: 1px solid #ececec;}
.contentData table tr.even,.contentData table tr.hover {background: #e0f2e3;}

.contentData table td.blue {width: 200px}

.contentData1 tr th{ height:32px; text-align:left; padding-left:20px;border: 0;color:#999;}
.contentData1 tbody tr th {background: #fafafa;}
.contentData1 tr td{ height:34px; text-align:left; padding-left:20px; border-right:none;color:#333; }
.contentData1 tr td span{ padding-left:0px; color:#333;}
.contentData1 tr th.edit {text-align:right;padding-right:15px;font-size:12px;}
.contentData1 tr td.title {width: 80px;color: #999;}
.contentData1 tr td.text {color: #333;}
.contentData2 {margin-top:30px;}
.contentData2 table td {border: 0;height:20px;}

.w_70 {width: 70px;}
.all_title {float:left;font-size:14px;line-height:45px;padding-left:10px;color:#666;}
.s_gradegrade { margin-left:10px; overflow: hidden;}



.more {float: right;}

.title_more,
.contentData1 tr th.title_more,
.contentData1 tr td.title_more {width: 150px; text-align: right;padding-right: 10px}


.speak_table,
.content_child {border:1px inset #eee;background: #f5f5f5}
.speak_table thead td,
.content_child thead td {color: #999}
.speak_table tr td,
.content_child tr td {border:0 none;}

div.content_child {
	min-height: 30px;
	padding: 5px 20px;
	border-style: solid;
	border-width: 1px 0px 0px 1px;
	border-color: #eee #fff #fff #eee;

}

.content_child_close{float: right;}

.grid_item th.center,
.grid_item td.center,
.contentData table th.center,
.contentData table td.center {text-align: center;}





/* ==================== form.css ===================== */
.input_text {height: 25px; padding-left: 5px; border:1px solid #d3d3d3;}

ul.labelCon {overflow: hidden;width:auto;margin:10px 3px ;color: #666;}
ul.labelCon li {padding:7px 0;overflow: hidden;line-height: 25px;}
ul.labelCon li label {float: left;width: 70px; text-align: right;}
ul.labelCon li span {float: left;margin-left: 10px; height: 25px;}
ul.labelCon li p {float: left;margin-left: 10px; height: auto;width: 950px;}
ul.labelCon li p em {width: auto;white-space: nowrap;}
#termId {display: none;}

/* 
 * upload: 2012-11-20
 * author: Marco(wujie)
 */
.btn, .btn_ancel,.btn_prev,
.btn_submit,.btn_cancel,.btn_button,.ui-pro .ui-pro-item .btn_submit {background: url(http://img03.xesimg.com/btn.jpg) no-repeat;} 
button.btn_submit,
input.btn_submit,
button.btn_button,
input.btn_button {border: 0 none;cursor: pointer;}

/*a:hover.btn_ancel,*/
a:hover.btn_cancel {color: #666; text-decoration: none;}

a:hover.btn_prev,
a:hover.btn_submit {color: #fff; text-decoration: none;}

.btn {float: left;display: inline;width: 88px;height: 29px;line-height: 29px; text-align: center;margin-right: 10px;  color: #666;font-size: 12px; font-weight: bold;background-position: 0 -40px;}

/*.btn_ancel, .btn_ancel:active, .btn_ancel:visited,*/
.btn_cancel,.btn_button, .btn_cancel:active, .btn_cancel:visited,.ui-pro .ui-pro-item .btn_submit {float: left;display: inline;width: 88px;height: 29px;line-height: 29px; text-align: center;margin-right: 10px;  color: #666;font-size: 12px; font-weight: bold;background-position: 0 -40px;}

.btn_prev, .btn_prev:active, .btn_prev:visited,
.btn_submit, .btn_submit:active, .btn_submit:visited,.ui-pro .ui-pro-item .btn_submit{font-weight: 700;background-position: 0 0; color: #fff;}

.btn_submit_small,.btn_submit_small:active,.btn_submit_small:visited {display: block;overflow: hidden;float:left;color:#FFF;width:70px;height:20px;line-height:20px;background: url(http://img03.xesimg.com/create_btn.png) no-repeat; text-align: center;color: #fff;}


.w400 {width: 400px}
.w500 {width: 500px}

.h200 {height: 200px}

input[type="text"],
textarea,
.input_title,
.input_content {border:1px solid #D3D3D3; ;padding-left:10px;background: url(http://img03.xesimg.com/bg_input.png) repeat-y left 0;}

.input_keyword {height: 25px;padding: 0 10px}

.files {display: none;}


/* -=-=-=-=-=-=-=-=-=-=-= test_add.html =-=-=-=-=-=-=-=-=-=-=-=-=- */

.paper_text {width:510px;height:60px;line-height: 24px;padding:0 0 0 10px;border:1px solid #ccc;}
ul.labelCon li.infor {height:70px;}
ul.labelCon li.choose {height: auto;overflow: hidden;padding-left:70px;}
.choose_list {margin:3px 0 17px -12px;overflow: hidden;_width:100%;}
.choose_list span,table {float: left;display: inline;}
.choose_list table {width:522px;border:1px solid #ccc;}
.choose_list table td {line-height:20px;padding:3px 10px;}
.choose_list .input_text {width:30px;} 

.paper_type_box {display: none;width: auto;float: left;}
.questions_type {display: none;}

ul.labelCon li.questions_type_box {}
#questions_type_input {height: auto}
#questions_type_input span {width: 800px;float:none;margin-left: 0;display: block;height: 30px;margin-bottom: 5px}
#questions_type_input input {}
#questions_type_input span a {padding-left: 10px}