@charset "UTF-8";

/**
 * Tools
 border-color:#BECED9
 */
html {background-color: #E0E3ED}
body {color:#737C93;font:500 normal 12px/20px "\5FAE\8F6F\96C5\9ED1",Verdana, "\5b8b\4f53",Arial, Helvetica, sans-serif;}
#header,#container,#footer {width: 100%;margin: 0 auto;}
#header,#sidebar,#footer {position: fixed;}
#header {top: 0;height: 45px;line-height: 45px;background: url(../img/bg_head.png) repeat-x left 0}
#header h1 {padding:0 10px;color:#FFF;font-weight: 700;font-size: 18px;font-family: "\5FAE\8F6F\96C5\9ED1",Verdana;}
#container {top:45px;bottom:28px;background-color: #EEF1F8}
	#sidebar{width: 170px;top: 45px;bottom: 28px;left: 0;border-right:1px solid #BECED9;background-color: #EEF1F8}
	#main{margin:45px 0 28px 171px;overflow: hidden;overflow-x: hidden;}
		.control {display: block;height:200px;margin:20px;border:1px solid #BECED9;background-color: #FFF}
		.control .head {height: 45px;line-height: 45px;font-size: 18px;padding:0 20px;border-bottom: 1px solid #BECED9;border-top:1px solid #FFF;border-radius:5px 5px 0 0;background-color: #EFF1F6}

		.table {}
		.table_toolbar {height: 55px;overflow: hidden;background: url(../img/bg_toolbar.png) repeat-x left 0;}
		.table_toolbar .tips_arrow {display: block;float: left;width: 40px;height:50px;margin: 2px 5px;text-indent: -9999px;overflow: hidden;background: url(../img/icon_arrow_up.png) no-repeat left 3px;}
		.table_toolbar .button,.table_toolbar .submit{margin:13px}
		.table_list {width: 100%}
		.table_list th, .table_list td {padding:0 10px}
		.table_list th {text-align: center;font-weight: 700}

		.thead {height: 31px;background: url(../img/bg_thead.png) repeat-x left 0;}
		.thead th,.thead td {line-height: 31px;background: url(../img/border_td.png) no-repeat right 0}
		.thead th,.thead td {font-weight: 700;}
		.tbody {background-color: #FFF}
		.tbody th, .tbody td {height:40px;line-height: 40px;border-top: 1px solid #DCE7EF}
		.tbody th {vertical-align: baseline;}
		.tbody td {font-weight: 500}
		.tbody td a {color:#0078A5}
		.tbody td a:hover {color:#00ADEE}
		.tbody tr.bg th, .tbody tr.bg td {background-color: #F7F9FC}
		.tbody tr.hover th, .tbody tr.hover td,
		.tbody tr:hover th, .tbody tr:hover td {background-color: #FFFFD4}
		.tbody .checkbox {margin: 0px 0 0 0}
		.tbody td.filename {color:#0078A5;cursor: pointer;}
		.tbody tr.child {display: none;}
		.tbody tr.child td {border:0 none;padding: 0;background:#F4EEFC url(../img/bg_toparrow.png) repeat-x center 0;}
		/*.tbody tr.child td ul,.tbody tr.child td ul li {padding: 0;margin:0}*/
		.tbody tr.child td li {float: none;clear:both;line-height: 30px;padding: 0 30px;border-bottom:1px solid #FFF;}
		.tbody tr.child td li:hover {border-color:#F4EEFC;background-color: #F9F6FE;}
		.tbody tr.child td li span.title {display: block;text-align: right;width: 350px;float: left;color:#A58AD5}
		
		.tbody tr.child td li em {display: block;float: left;color:#A58AD5}

		.tbody tr.child.show {display: table-row;}
#footer{bottom: 0;height: 28px;background: url(../img/bg_foot.png) repeat-x left 0}

/*.button,.submit,.submit_small,.button_small {width:auto;height:30px;color:#737C93;font-weight: 700;cursor: pointer;padding:0 10px;border: 1px solid #BECED9;border-radius:3px ;box-shadow:0 0 2px rgba(0, 0, 0, 0.1);/*background: url(../img/bg_btn.png) repeat-x left 0;*/}*/
.control_body {}
/*
.submit {height:29px;color:#FFF;border-color: #4F95D8;background-image: url(../img/bg_submit.png);}
.submit_small {height:22px;color:#FFF;border-color: #4F95D8;background-image: url(../img/bg_submit_small.png);}
.button_small {height:22px;background-image: url(../img/bg_btn_small.png);}*/
.radius{border-radius:5px}
.shadow{box-shadow:0 0 2px rgba(0, 0, 0, 0.1)}
/*.checkbox {width: 14px;height:14px;border:1px solid #BFCFDA;border-radius:2px}*/

.input_text {width:400px;border-color: #D8DCE5;color: #606060;text-align: left; border: solid 1px #D8DCE5;background-color: #F9FAFB;}


.control_form {display: block;padding: 20px}
.control_form .input_text {
	background-image: url(../img/icon_fold.png) ;
	background-position: 5px center;
	background-repeat: no-repeat;
}